@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Exo 2", sans-serif;
}
h2 {
}
p {
  color: var(--white);
  font-size: 26px;
  font-weight: 400;
  line-height: 150%;
}
.paragraph {
  color: var(--paragraph-default);
}
.paragraph--dark {
  color: var(--paragraph-dark);
}
.h2-heading {
  position: relative;
  color: var(--white);
  font-size: 3rem;
  text-transform: uppercase;
  z-index: 1;
  isolation: isolate;
  width: max-content;
}
.h2-heading::after {
  content: "";
  position: absolute;
  height: 16px;
  display: block;
  background-color: var(--yellow);
  opacity: 0.6;
  z-index: -1;
  bottom: 0;
  width: 70%;
}
.h2-heading--right {
  margin-left: auto;
}
.h2-heading--left {
  margin-left: unset;
}
.h2-heading--center {
  margin-inline: auto;
}
.section-article {
  background: linear-gradient(to left, #000 1.17%, rgba(0, 0, 0, 0) 121.08%);
  position: absolute;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
  z-index: 5;
  display: flex;
  padding-block: 5rem;
  padding-inline: 4rem;
  width: fit-content;
  left: 30%;
}
.section-article img {
  object-fit: contain;
  width: 150px;
  margin-right: 2rem;
}
.kontakt__heading::after {
  bottom: 100px;
}
